---
layout: layoutAbout
title: Developer & Facilitator - Brian Gunzenhauser
metaDesc: "Brian Gunzenhauser is web developer, and works at the intersection of technology, business, and education."
---

<section class="intro">
    <h1 class="intro__heading">About.
        <span class="intro__heading-context">A few words about me.</span></h1>
</section>

<div class="about__content">
    <div class="about__content-image">
        <picture>
            <source srcset="/assets/images/brian-gunzenhauser.png">
            <img src="/assets/images/brian-gunzenhauser.png" alt="Brian Gunzenhauser Bio Image">
        </picture>
    </div>

    <div class="about__content-details">
        <p>Hey, I'm Brian. I've been developing websites since 2002. And when we're not in a pandemic, I facilitate workshops on web and technology.</p>

        <p>I work at the intersection of technology, business, and education. For nearly 20 years, I've helped businesses by building, managing, or overseeing their online properties. I used that experience to develop a curriculum of website design and development courses at the Pennsylvania College of Art & Design, and then taught those courses for nearly 10 years. I've also facilitated sessions on technology to fortune 500 companies to help upskill their staff to be more productive in their day-to-day roles.</p>

        <p>I build things and enable others to do their best, and I work with calculated efficiency. I've developed in-person and online courses, created a BFA, managed a team, owned projects, and developed more websites than I can count. I love to learn, and to push myself to understand what's new and what's next.</p>
    </div>

</div>