---
layout: layoutContact
title: Contact - Brian Gunzenhauser
metaDesc: "Get in touch with Brian Gunzenhauser"
---

<section class="intro">
    <h1 class="intro__heading">Contact.
        <span class="intro__heading-context">The way to reach me.</span></h1>
</section>

<div class="contact__content">
    <p>Hey there. Drop me a line, I would enjoy hearing from you.</p>

    <form name="contact" method="POST" data-netlify="true">
        <label for="yourname">Your Name</label>
        <input type="text" name="yourname" id="yourname" placeholder="Your name">

        <label for="youremail">Your Email</label>
        <input type="email" name="youremail" id="youremail" placeholder="Your email">

        <label for="yourmessage">Your Message</label>
        <textarea name="yourmessage" id="yourmessage" placeholder="Your message"></textarea>

        <button type="submit" class="button">Send it to me</button>
    </form>
</div>