.mainNav {
    display: flex;
    justify-content: flex-start;
}

@media screen and (min-width: 960px) {
    .mainNav {
        justify-content: flex-end;
    }
}

.mainNav>ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 1rem 0;
    align-items: space-around;
}

@media screen and (min-width: 960px) {
    .mainNav>ul {
        margin: 0;
    }
}

.mainNav>ul>li {
    margin: 0 1rem 0 0.5rem;
}

.mainNav a {
    font-size: 14px;
    position: relative;
    padding-bottom: 0;
    text-transform: uppercase;
    font-weight: 500;
    transition: color 0.2s ease;
}

.mainNav a:hover {
    color: #818cf8;
    text-decoration: none;
}

.mainNav>ul>li:not(:last-child) a::after {
    content: "/";
    color: white;
    -webkit-text-fill-color: white;
    background: none;
    position: absolute;
    right: -1rem;
    cursor: default;
}

@media screen and (min-width: 768px) {
    .mainNav>ul>li>a::after {
        right: -1rem;
    }
}