.header__logo {
    & > a {
        &.curr {
            // border-bottom: solid 2px #E6DB74;
            color: #E6DB74;
        }
    }
}

nav {
    display: flex;
    justify-content: flex-start;

    @include breakpoint(large) {
        justify-content: flex-end;
    }

    & > ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 1rem 0;
        align-items: flex-end;

        @include breakpoint(medium) {
            margin: 0;
        }

        & > li {
            margin: 0 1rem 0 0.5rem;

            @include breakpoint(large) {
                margin: 0 1rem 0 0.5rem;
            }

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }

            & > a {
                font-size: 1.2rem; 
                position: relative;
                padding-bottom: 0;
                
                
                &::after {
                    content: "/";
                    color: white;
                    position: absolute;
                    right: -1rem;
                    cursor: default;

                    @include breakpoint(large) {
                        right: -1rem;
                    }
                }

                &.curr {
                    border-bottom: solid 2px #E6DB74;
                    color: #E6DB74;
                }
                
            }

            &:last-child {

                & > a {
                    &::after {
                        content: "";
                        margin-left: 0;
                    }
                }
            }
        }
    }
}