main.site-main {
    padding: 1.5rem;
    border-top: var(--border__body);
    border-bottom: var(--border__body);
    background: var(--color__primary--main);
    display: grid;
    justify-content: center;
    grid-template-rows: auto;
    grid-template-columns: 100%;

    @include breakpoint(medium) {
        grid-template-columns: 80%;
    }
}
