.about {
    // bio stuff here
    .about__content {
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 2rem;

        @include breakpoint(medium) {
            grid-template-columns: 200px auto;
            
        }
    }
}