form {
    display: flex;
    flex-direction: column;
}

form input {
    padding: 0.5rem;
    margin-bottom: 1rem;
    background: hsla(0, 0%, 0%, 0.5);
    color: white;
    border: none;
    border-radius: var(--border__radius);
    max-width: 50ch;
    font-weight: 200;
}

form textarea {
    padding: 0.5rem;
    max-width: 50ch;
    height: 20ch;
    margin-bottom: 1rem;
    background: hsla(0, 0%, 0%, 0.5);
    color: white;
    border: none;
    border-radius: var(--border__radius);
    resize: none;
    font-weight: 200;
}

form button[type="submit"] {
    max-width: 15ch;
    font-size: 1rem;
    border: none;
}   
