.aboutContent {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 2rem;
}

@media screen and (min-width: 768px) {
    .aboutContent {
        grid-template-columns: 200px auto;
    }
}

.listItems {
    list-style: disc;
    margin-left: 20px;
}