.buttonLink {
    background:
        linear-gradient(var(--color__primary), var(--color__primary)) padding-box,
        var(--gradient__galaxy) border-box;
    border: 1px solid transparent;
    color: var(--color__text);
    border-radius: var(--border__radius);
    padding: 0.5rem 1rem;
    font-weight: 500;
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    gap: 0.375rem;
    transition: color 0.3s ease;
}

.buttonLink:hover {
    background: var(--gradient__galaxy) padding-box, var(--gradient__galaxy) border-box;
    color: var(--color__primary);
    text-decoration: none;
}
