.buttonLink {
    background:
        linear-gradient(var(--color__primary), var(--color__primary)) padding-box,
        var(--gradient__galaxy) border-box;
    border: 2px solid transparent;
    color: var(--color__text);
    border-radius: var(--border__radius);
    padding: 0.5rem 1rem;
    font-weight: 600;
    font-size: 1.25rem;
    display: inline-block;
    transition: color 0.3s ease;
}

.buttonLink:hover {
    background: var(--gradient__galaxy) padding-box, var(--gradient__galaxy) border-box;
    color: var(--color__primary);
}
