.post time {
    font-size: 1rem;
    /* margin-bottom: 0.5rem; */
    display: block;
    color: hsla(0, 0%, 50%, 1);
}

.post h1 {
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    color: var(--color__postTitle);
}

.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
    margin-bottom: 0.25rem;
    line-height: 1.1;
}

.post h4 {
    font-weight: 600;
}

.post>p:nth-of-type(1) {
    margin-bottom: 2rem;
}

.post ul,
.post ol {
    margin-left: 2rem;
}

.post ul li {
    margin-left: 1.25rem;
    list-style: disc;
}

.post ol li {
    margin-left: 1.25rem;
    list-style: decimal;
}

/* .post p:nth-of-type(1)::first-letter {
    font-size: 4rem;
    font-weight: 800;
    margin-top: 0.25rem;
    padding-right: 0.5rem;
    padding-bottom: 0.25rem;
    line-height: 0.75;
    float: left;
    color: #aaa;
} */

/** Add space below a codepen wrapper */
.post .cp_embed_wrapper {
    margin-bottom: 1rem;
}

.post pre {
    padding: 1rem;
    background: hsla(0, 0%, 10%, 1);
    margin-bottom: 2rem;
    /* overflow-x: scroll; */
    overflow-x: scroll;
    white-space: pre-wrap;
    max-width: 100%;
    display: block;
    height: auto;
    word-break: break-all;
    font-size: 0.75rem;
}

@media screen and (min-width: 768px) {
    .post pre {
        word-break: keep-all;
        /* white-space: nowrap; */
        /* white-space: normal; */
    }
}